{% extends "base.html" %}
{% block content %}
  <h2>Sante Info</h2>
  <h3>Description</h3>
  <p>We are building an IVR (Interactive Voice Response) powered database which will help in prevention of the disease by:</p>
  <p>1. Providing information to the general public on the disease and how to prevent infection</p>
  <p>2. Providing a crowd-sourced, open-source database of instances of the disease as they occur in real-time</p>
  <p>3. By helping health-care providers better direct and co-ordinate their response to the disease while also helping them connect to the public to spread information on how to prevent spreading the disease</p>
  <p>We are building an IVR (Interactive Voice Response) powered database which will help in prevention of the disease by:</p>
  <p>1. Providing information to the general public on the disease and how to prevent infection</p>
  <p>2. Providing a crowd-sourced, open-source database of instances of the disease as they occur in real-time</p>
  <p>3. By helping health-care providers better direct and co-ordinate their response to the disease while also helping them connect to the public to spread information on how to prevent spreading the disease</p>
{% endblock %}